{{< CommonMetaTags}}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta id="Meta-lang" http-equiv="content-language" content="{{CurrentLang.IsoLang}}" data-date-format="{{JsDateFormatForBe}}">
{{{PixelFacebook}}}
{{{GoogleTagManagerHead}}}
{{/CommonMetaTags}}

{{< FaviconTags}}
<link rel="shortcut icon" type="image/x-icon" href="{{Url}}/{{FaviconName}}" />
{{/FaviconTags}}

{{< CommonStylesheets}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="{{TitlePoliceImportUrl}}" rel="stylesheet">
<link href="{{TextPoliceImportUrl}}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/line-awesome/line-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/fa-brands.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/bootstrap/bootstrap-min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/owl.carousel.2.3.4.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/owl.theme.default.2.3.4.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/lightgallery.min.css">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="{{Url}}/css/common.min.css?v={{TemplateName}}_{{CacheVar}}">
<link rel="stylesheet" type="text/css" href="{{Url}}/css/elloha-template-39.min.css?v={{TemplateName}}_{{CacheVar}}">
<link rel="stylesheet" type="text/css" href="{{Url}}/css/custom.css?v={{TemplateName}}_{{CacheVar}}">
{{/CommonStylesheets}}

{{< CommonScripts}}
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery-2.2.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/plugins.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/bootstrap/bootstrap-min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/owl.carousel.2.3.4.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/mandrill/mandrill.min.js"></script>
<script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js" crossorigin async data-callback="initMapKit" data-libraries="map" data-initial-token="{{TokenMapKit}}"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/skycons.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/lightgallery-all.min.js"></script>
<script type="text/javascript" src="{{Url}}/js/config.js?v={{Template}}_{{CacheVar}}"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.countdown.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.fittext.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.ebcaptcha.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script type="text/javascript" src="{{Url}}/js/common.min.js"></script>
<script type="text/javascript" src="{{Url}}/js/elloha-template-39.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/newcookieconsent.min.js"></script>
<script src="https://js.hcaptcha.com/1/api.js"></script>
{{/CommonScripts}}

{{< ScriptCalendarClick}}
<script>
    var onAvailableDateSelect = function () {
        var dpWidget = window.widgetDatePicker["ConstellationWidgetContainerBE"];

        if (dpWidget === null || dpWidget === undefined) {
            return;
        }

        dpWidget.setDate(this.getMoment()._d);
        $('#ConstellationWidgetContainerBE #BtnLaunchBooking').trigger('click');
    };
</script>
{{/ScriptCalendarClick}}

{{< Header}}
<!-- NAV GLOBALE -->
<div class="first-nav">
    <div class="content-section">

        <div class="logo logo-w">
            <a class="logo-top {{^HasLogo}} logo-text{{/HasLogo}}" href="{{UrlRoot}}">
                {{#HasLogo}}<img class="logo-header-1" src="{{LogoUrl}}" alt="{{CustomTitle}}">{{/HasLogo}}
                {{^HasLogo}}<span class="title">{{CustomTitle}}<sup class="rating-stars">{{{Rating}}}</sup></span>{{/HasLogo}}
            </a>
        </div>

        <div class="pages-contacts-lang-and-btn-menu">
            <div class="pages-contacts-and-lang">
                <ul class="pages">
                    {{#HasPages}}
                    <li class="dropdown clic-sub-menu clic-sub-menu-2 menu-header-li page-display-none">
                        <a data-toggle="dropdown" href="#">{{ResourcesTemplate.discover}} <i class="las la-angle-down"></i></a>
                        <ul class="dropdown-menu sub-menu">
                            {{#Pages}}
                            <li><a href="{{UrlPageTemplate}}">{{TitlePage}}</a></li>
                            {{/Pages}}
                        </ul>
                    </li>
                    {{/HasPages}}
                    {{#HasGroupesPrestations}}
                    <li class="dropdown clic-sub-menu clic-sub-menu-2 menu-header-li">
                        <a data-toggle="dropdown" href="#">{{ResourcesTemplate.Offers_MenuTitle}} <i class="las la-angle-down"></i></a>
                        <ul class="dropdown-menu sub-menu">
                            {{#ViewAllOffers}}
                            <li><a href="{{UrlOffers}}">{{ResourcesTemplate.Offers_ViewAll}}</a></li>
                            {{/ViewAllOffers}}
                            {{#GroupesPrestations}}
                            <li><a href="{{UrlGroupe}}">{{TitreGroupe}}</a></li>
                            {{/GroupesPrestations}}
                        </ul>
                    </li>
                    {{/HasGroupesPrestations}}
                    {{^IsRestaurant}}
                    {{^HasGroupesPrestations}}
                    {{#HasPrestas}}
                    {{#Prestations.1}}
                    <li class="dropdown clic-sub-menu clic-sub-menu-2 menu-header-li">
                        <a data-toggle="dropdown" href="#">{{ResourcesTemplate.Offers_MenuTitle}} <i class="las la-angle-down"></i></a>
                        <ul class="dropdown-menu sub-menu">
                            {{#ViewAllOffers}}
                            <li><a href="{{UrlOffers}}">{{ResourcesTemplate.Offers_ViewAll}}</a></li>
                            {{/ViewAllOffers}}
                            {{#Prestations}}
                            <li><a href="{{UrlPrestaTemplate}}">{{TitrePresta}}</a></li>
                            {{/Prestations}}
                        </ul>
                    </li>
                    {{/Prestations.1}}
                    {{^Prestations.1}}
                    <li class="menu-header-li">
                        <a href="{{Prestations.0.UrlPrestaTemplate}}">{{ResourcesTemplate.Offers_MenuTitle}}</a>
                    </li>
                    {{/Prestations.1}}
                    {{/HasPrestas}}
                    {{/HasGroupesPrestations}}
                    {{/IsRestaurant}}
                    {{#IsRestaurant}}
                    {{#HasPrestas}}
                    {{#Prestations.0}}
                    <li class="menu-header-li">
                        <a href="{{UrlPrestaTemplate}}">{{ResourcesTemplate.CarteMenus}}</a>
                    </li>
                    {{/Prestations.0}}
                    {{/HasPrestas}}
                    {{/IsRestaurant}}
                    {{#AdditionalLink}}
                    <li class="menu-header-li">
                        <a href="{{Url}}">{{Label}}</a>
                    </li>
                    {{/AdditionalLink}}
                    {{#HasSpecialOffers}}
                    <li class="menu-header-li page-display-none page-display-inherit-tab-2">
                        <a href="{{UrlSpecialOffers}}">{{ResourcesTemplate.pageMenuTitle_special-offers}}</a>
                    </li>
                    {{/HasSpecialOffers}}
                    {{#HasBookingActivated}}
                    {{#HasGiftsActivated}}
                    <li class="menu-header-li page-display-none">
                        <a href="{{UrlGifts}}">{{ResourcesTemplate.GiftsTitle}}</a>
                    </li>
                    {{/HasGiftsActivated}}
                    {{/HasBookingActivated}}
                    {{#HasRecommandations}}
                    <li class="menu-header-li page-display-none">
                        <a href="{{UrlAround}}">{{ResourcesTemplate.pageMenuTitle_around}}</a>
                    </li>
                    {{/HasRecommandations}}
                    {{#HasNews}}
                    <li class="menu-header-li page-display-none">
                        <a href="{{UrlNews}}">{{ResourcesTemplate.pageMenuTitle_news}}</a>
                    </li>
                    {{/HasNews}}
                    {{#FeaturedPage}}
                    <li class="menu-header-li page-display-none">
                        <a href="{{UrlPageTemplate}}">{{TitlePage}}</a>
                    </li>
                    {{/FeaturedPage}}
                    <li class="menu-header-li page-display-none">
                        <a href="{{UrlContact}}">{{ResourcesTemplate.Contact}}</a>
                    </li>
                    {{#HasBookingActivated}}
                    <li class="button-nav-resa menu-header-li">
                        <a href="{{UrlOnlineBooking}}">{{ResourcesTemplate.pageMenuTitle_online-reservation}}</a>
                    </li>
                    {{/HasBookingActivated}}
                </ul>

                <div class="contacts-and-lang">
                    {{#Instagram}}
                    <div>
                        <a href="{{Instagram}}" class="contact-w tel-hover icone-menu-header">
                            <i class="lab la-instagram"></i>
                        </a>
                    </div>
                    {{/Instagram}}

                    {{#HasPhoneNumberActivated}}
                    <div>
                        <a href="tel:{{PhoneNumber}}" class="contact-w tel-hover icone-menu-header">
                            <i class="las la-phone"></i>
                        </a>
                    </div>
                    {{/HasPhoneNumberActivated}}

                    {{#HasOtherLangs}}
                    <div class="dropdown languages">
                        <div class="dropdown-div" data-toggle="dropdown">
                            <i class="fa fa-globe"></i>
                            <div class="current-lang flag">{{CurrentLang.IsoLang}}</div>
                        </div>

                        <ul class="dropdown-menu">
                            {{#Langs}}
                            <li><a href="{{UrlLang}}" lang="{{IsoLang}}"><div class="flag">{{IsoLang}}</div></a></li>
                            {{/Langs}}
                        </ul>
                    </div>
                    {{/HasOtherLangs}}
                </div>
            </div>

            <div class="navbar-toggler">
                <i class="btn-menu las la-bars"></i>
                <i class="btn-menu las la-times d-none"></i>
            </div>
        </div>

    </div>
</div>

<!-- NAV MOBILE -->
<nav class="mobile-nav">

    <ul class="menu menu-mobile">
        {{#HasPages}}
        <li class="clic-sub-menu">
            <a href="#">{{ResourcesTemplate.discover}} <i class="las la-angle-down"></i></a>
            <ul class="sub-menu">
                {{#Pages}}
                <li><a href="{{UrlPageTemplate}}">{{TitlePage}}</a></li>
                {{/Pages}}
            </ul>
        </li>
        {{/HasPages}}
        {{#HasGroupesPrestations}}
        <li class="clic-sub-menu page-display-none">
            <a href="#">{{ResourcesTemplate.Offers_MenuTitle}} <i class="las la-angle-down"></i></a>
            <ul class="sub-menu">
                {{#ViewAllOffers}}
                <li><a href="{{UrlOffers}}">{{ResourcesTemplate.Offers_ViewAll}}</a> </li>
                {{/ViewAllOffers}}
                {{#GroupesPrestations}}
                <li><a href="{{UrlGroupe}}">{{TitreGroupe}}</a></li>
                {{/GroupesPrestations}}
            </ul>
        </li>
        {{/HasGroupesPrestations}}
        {{^IsRestaurant}}
        {{^HasGroupesPrestations}}
        {{#HasPrestas}}
        {{#Prestations.1}}
        <li class="clic-sub-menu page-display-none">
            <a href="#">{{ResourcesTemplate.Offers_MenuTitle}} <i class="las la-angle-down"></i></a>
            <ul class="sub-menu">
                {{#ViewAllOffers}}
                <li><a href="{{UrlOffers}}">{{ResourcesTemplate.Offers_ViewAll}}</a> </li>
                {{/ViewAllOffers}}
                {{#Prestations}}
                <li><a href="{{UrlPrestaTemplate}}">{{TitrePresta}}</a></li>
                {{/Prestations}}
            </ul>
        </li>
        {{/Prestations.1}}
        {{^Prestations.1}}
        <li class="page-display-none">
            <a href="{{Prestations.0.UrlPrestaTemplate}}">{{ResourcesTemplate.Offers_MenuTitle}}</a>
        </li>
        {{/Prestations.1}}
        {{/HasPrestas}}
        {{/HasGroupesPrestations}}
        {{/IsRestaurant}}
        {{#IsRestaurant}}
        {{#HasPrestas}}
        {{#Prestations.0}}
        <li class="page-display-none">
            <a href="{{UrlPrestaTemplate}}">{{ResourcesTemplate.CarteMenus}}</a>
        </li>
        {{/Prestations.0}}
        {{/HasPrestas}}
        {{/IsRestaurant}}
        {{#AdditionalLink}}
        <li>
            <a href="{{Url}}">{{Label}}</a>
        </li>
        {{/AdditionalLink}}
        {{#HasSpecialOffers}}
        <li class="page-display-none-tab-2">
            <a href="{{UrlSpecialOffers}}">{{ResourcesTemplate.pageMenuTitle_special-offers}}</a>
        </li>
        {{/HasSpecialOffers}}
        {{#HasBookingActivated}}
        {{#HasGiftsActivated}}
        <li>
            <a href="{{UrlGifts}}">{{ResourcesTemplate.GiftsTitle}}</a>
        </li>
        {{/HasGiftsActivated}}
        {{/HasBookingActivated}}
        {{#HasRecommandations}}
        <li>
            <a href="{{UrlAround}}">{{ResourcesTemplate.pageMenuTitle_around}}</a>
        </li>
        {{/HasRecommandations}}
        {{#HasNews}}
        <li>
            <a href="{{UrlNews}}">{{ResourcesTemplate.pageMenuTitle_news}}</a>
        </li>
        {{/HasNews}}
        {{#FeaturedPage}}
        <li>
            <a href="{{UrlPageTemplate}}">{{TitlePage}}</a>
        </li>
        {{/FeaturedPage}}
        <li>
            <a href="{{UrlContact}}">{{ResourcesTemplate.Contact}}</a>
        </li>
        {{#HasBookingActivated}}
        <li class="page-display-none">
            <a class="btn-resa-mobile-menu" href="{{UrlOnlineBooking}}">{{ResourcesTemplate.pageMenuTitle_online-reservation}}</a>
        </li>
        {{/HasBookingActivated}}
    </ul>

    <div class="contacts-and-lang-mobile">
        {{#Instagram}}
        <div>
            <a href="{{Instagram}}" class="contact-w tel-hover icone-menu-header">
                <i class="lab la-instagram"></i>
            </a>
        </div>
        {{/Instagram}}

        {{#HasPhoneNumberActivated}}
        <div>
            <a href="tel:{{PhoneNumber}}" class="contact-w tel-hover icone-menu-header">
                <i class="las la-phone"></i>
            </a>
        </div>
        {{/HasPhoneNumberActivated}}

        {{#HasOtherLangs}}
        <div class="dropdown languages">
            <div class="dropdown-div" data-toggle="dropdown">
                <i class="fa fa-globe"></i>
                <div class="current-lang flag">{{CurrentLang.IsoLang}}</div>
            </div>

            <ul class="dropdown-menu">
                {{#Langs}}
                <li><a href="{{UrlLang}}" lang="{{IsoLang}}"><div class="flag">{{IsoLang}}</div></a></li>
                {{/Langs}}
            </ul>
        </div>
        {{/HasOtherLangs}}
    </div>
</nav>
{{/Header}}

{{< Options}}
<section class="section">
    <div class="content-section">

        <div class="section-title">
            <h2>{{ResourcesTemplate.OurOptions}}</h2>
        </div>

        <div class="prestas-big-contain owl-carousel owl-theme options-slider">
            {{#Options}}
            <div class="presta-contain">
                {{#PhotosPresta.0}}
                <img class="bg-img" src="{{UrlMedias}}/crop-550x350/{{IdMedia}}/{{FileNamePhoto}}" alt="{{NamePhoto}}">
                {{/PhotosPresta.0}}

                <div class="infos-contain">
                    <div class="title-and-descrip-presta">
                        <h3><a href="{{{UrlBECustom}}}/Search/Index/{{IdPubBe}}?idoi={{IdOi}}&searchFirstAvailableDates=1&culture={{CurrentLang.CultureLang}}&forcedTemplate={{UrlTemplateBE}}" itemprop="url">{{TitrePresta}}</a></h3>

                        {{#DescriptionPresta}}
                        <div class="description-presta">{{{DescriptionPresta}}}</div>
                        {{/DescriptionPresta}}
                    </div>

                    <div class="price-and-resa-presta">
                        {{#MinPricePresta}}
                        <div class="saw-prices">
                            <span class="price-begin">{{ResourcesTemplate.PriceFrom}}</span>
                            <span class="presta-price">
                                <span class="price-price">{{MinPricePresta}} {{CurrencySymbol}}</span>{{^isActivity}} /{{ResourcesTemplate.Night}}{{/isActivity}}
                            </span>
                        </div>
                        {{/MinPricePresta}}

                        {{#HasBookingActivated}}
                        <div class="btn-contain">
                            <a href="{{{UrlBECustom}}}/Search/Index/{{IdPubBe}}?idoi={{IdOi}}&searchFirstAvailableDates=1&culture={{CurrentLang.CultureLang}}&forcedTemplate={{UrlTemplateBE}}" class="btn">{{ResourcesTemplate.Book}}</a>
                        </div>
                        {{/HasBookingActivated}}
                    </div>
                </div>
            </div>
            {{/Options}}
        </div>
    </div>
</section>
{{/Options}}

{{< Calendar}}
<section class="section">
    <div class="content-section">

        <div class="section-title">
            <h2>{{ResourcesTemplate.AvailabilityTitle}}</h2>
        </div>

        <div class="calendars">
            <div class="avail-calendar-w">
                <div class="calendar-container">
                    <div id="datepicker2"></div>
                </div>
            </div>
            <div class="calendar_status">
                <div>
                    <div class="green-dispo">-</div>
                    <span>{{ResourcesTemplate.Available}}</span>
                </div>
                <div>
                    <div class="red-no-dispo">-</div>
                    <span class="not-available">{{ResourcesTemplate.NotAvailable}}</span>
                </div>
            </div>
        </div>

    </div>
</section>
{{/Calendar}}

{{< Footer}}
<footer class="section-footer section-footer-mobile">

    {{#HasAlcoolWarning}}
    <div class="alcool-warning">
        <span>{{ResourcesTemplate.AlcoolWarning}}</span>
    </div>
    {{/HasAlcoolWarning}}

    <div class="content-footer">

        <div class="logo-and-contacts">
            <div class="logo">
                <a class="logo-footer {{^HasLogo}} logo-text{{/HasLogo}}" href="{{UrlRoot}}">
                    {{#HasLogo}}<img src="{{LogoUrl}}" alt="{{CustomTitle}}">{{/HasLogo}}
                    {{^HasLogo}}<span class="title">{{CustomTitle}}<sup class="rating-stars">{{{Rating}}}</sup></span>
                    <span class="subtitle">{{CustomTypeOi}}</span>{{/HasLogo}}
                </a>
            </div>

            <div class="address-contacts-and-legal">
                <div class="address">
                    {{AddressLine}},<br />
                    {{PostalCode}} {{City}} - {{Country}}
                </div>

                <div class="contacts">
                    {{#HasPhoneNumberActivated}}
                    <a href="tel:{{PhoneNumber}}">{{PhoneNumber}}</a><br />
                    {{/HasPhoneNumberActivated}}

                    {{#HasMobilePhoneNumberActivated}}
                    <a href="tel:{{MobilePhoneNumber}}">{{MobilePhoneNumber}}</a><br />
                    {{/HasMobilePhoneNumberActivated}}

                    <a class="dynamic-mail-to">{{ResourcesTemplate.contactByEmail}}</a><br />
                </div>

                <div class="legal-mentions">
                    <a href="{{UrlLegalNotice}}">{{ResourcesTemplate.pageMenuTitle_legal-notice}}</a>

                    <a href="{{UrlTermsOfSales}}">{{ResourcesTemplate.pageMenuTitle_terms-of-sales}}</a>
                </div>
            </div>
        </div>

        {{#HasSocialNetworks}}
        <div class="social-medias-footer">
            {{#TikTok}}<a href="{{TikTok}}" target="_blank"><i class="fab fa-tiktok"></i></a>{{/TikTok}}
            {{#Facebook}}<a href="{{Facebook}}" target="_blank"><i class="lab la-facebook-f"></i></a>{{/Facebook}}
            {{#Twitter}}<a href="{{Twitter}}" target="_blank"><i class="lab la-twitter"></i></a>{{/Twitter}}
            {{#Pinterest}}<a href="{{Pinterest}}" target="_blank"><i class="lab la-pinterest"></i></a>{{/Pinterest}}
            {{#Youtube}}<a href="{{Youtube}}" target="_blank"><i class="lab la-youtube"></i></a>{{/Youtube}}
            {{#Instagram}}<a href="{{Instagram}}" target="_blank"><i class="lab la-instagram"></i></a>{{/Instagram}}
            {{#Vimeo}}<a href="{{Vimeo}}" target="_blank"><i class="lab la-vimeo"></i></a>{{/Vimeo}}
            {{#Linkedin}}<a href="{{Linkedin}}" target="_blank"><i class="lab la-linkedin-in"></i></a>{{/Linkedin}}
        </div>
        {{/HasSocialNetworks}}

        {{#HasPartners}}
        <div class="partners">
            {{#Partners}}
            <a href="{{UrlPartner}}" target="_blank"><img src="{{#PhotoPartner}}{{UrlMedias}}/300x200/{{IdMedia}}/{{FileNamePhoto}}{{/PhotoPartner}}" alt="{{TitlePartner}}"></a>
            {{/Partners}}
        </div>
        {{/HasPartners}}

        <div class="copyright-and-logo">
            <div>
                {{ResourcesTemplate.Copyright}} {{CustomTitle}}<sup class="rating-stars">{{{Rating}}}</sup>
            </div>

            <div>
                {{ResourcesTemplate.PoweredBy}} <a href="http://www.elloha.com/fr/" target="_blank"><img class="logo-elloha" src="https://static.elloha.com/webgen/img/elloha.png" alt="{{NamePhoto}}-logo"></a>
            </div>
        </div>

    </div>

    <div class="scroll-holder text-center">
        <a href="javascript:" id="scroll-to-top"><i class="las la-arrow-down"></i></a>
    </div>
</footer>

<footer class="section-footer section-footer-computer">

    {{#HasAlcoolWarning}}
    <div class="alcool-warning">
        <span>{{ResourcesTemplate.AlcoolWarning}}</span>
    </div>
    {{/HasAlcoolWarning}}

    <div class="content-section">

        <div class="contacts-and-logo-all">
            <div class="address-and-contacts">
                <div class="address">
                    {{AddressLine}},<br />
                    {{PostalCode}} {{City}} - {{Country}}
                </div>

                <div class="contacts">
                    {{#HasPhoneNumberActivated}}
                    <a href="tel:{{PhoneNumber}}">{{PhoneNumber}}</a><br />
                    {{/HasPhoneNumberActivated}}

                    {{#HasMobilePhoneNumberActivated}}
                    <a href="tel:{{MobilePhoneNumber}}">{{MobilePhoneNumber}}</a><br />
                    {{/HasMobilePhoneNumberActivated}}

                    <a class="dynamic-mail-to">{{ResourcesTemplate.contactByEmail}}</a><br />
                </div>
            </div>

            <div class="logo">
                <a class="logo-footer {{^HasLogo}} logo-text{{/HasLogo}}" href="{{UrlRoot}}">
                    {{#HasLogo}}<img src="{{LogoUrl}}" alt="{{CustomTitle}}">{{/HasLogo}}
                    {{^HasLogo}}<span class="title">{{CustomTitle}}<sup class="rating-stars">{{{Rating}}}</sup></span>
                    <span class="subtitle">{{CustomTypeOi}}</span>{{/HasLogo}}
                </a>
            </div>

            <div class="copyright-and-legal-mentions">
                <div class="copyright-and-logo">
                    <div>
                        {{ResourcesTemplate.Copyright}} {{CustomTitle}}<sup class="rating-stars">{{{Rating}}}</sup>
                    </div>

                    <div>
                        {{ResourcesTemplate.PoweredBy}} <a href="http://www.elloha.com/fr/" target="_blank"><img class="logo-elloha" src="https://static.elloha.com/webgen/img/elloha.png" alt="{{NamePhoto}}-logo"></a>
                    </div>
                </div>

                <div class="legal-mentions">
                    <a href="{{UrlLegalNotice}}">{{ResourcesTemplate.pageMenuTitle_legal-notice}}</a>

                    <a href="{{UrlTermsOfSales}}">{{ResourcesTemplate.pageMenuTitle_terms-of-sales}}</a>
                </div>
            </div>
        </div>

        <div class="social-medias-and-partners">
            {{#HasSocialNetworks}}
            <div class="social-medias-footer">
                {{#TikTok}}<a href="{{TikTok}}" target="_blank"><i class="fab fa-tiktok"></i></a>{{/TikTok}}
                {{#Facebook}}<a href="{{Facebook}}" target="_blank"><i class="lab la-facebook-f"></i></a>{{/Facebook}}
                {{#Twitter}}<a href="{{Twitter}}" target="_blank"><i class="lab la-twitter"></i></a>{{/Twitter}}
                {{#Pinterest}}<a href="{{Pinterest}}" target="_blank"><i class="lab la-pinterest"></i></a>{{/Pinterest}}
                {{#Youtube}}<a href="{{Youtube}}" target="_blank"><i class="lab la-youtube"></i></a>{{/Youtube}}
                {{#Instagram}}<a href="{{Instagram}}" target="_blank"><i class="lab la-instagram"></i></a>{{/Instagram}}
                {{#Vimeo}}<a href="{{Vimeo}}" target="_blank"><i class="lab la-vimeo"></i></a>{{/Vimeo}}
                {{#Linkedin}}<a href="{{Linkedin}}" target="_blank"><i class="lab la-linkedin-in"></i></a>{{/Linkedin}}
            </div>
            {{/HasSocialNetworks}}

            {{#HasPartners}}
            <div class="partners">
                {{#Partners}}
                <a href="{{UrlPartner}}" target="_blank"><img src="{{#PhotoPartner}}{{UrlMedias}}/300x200/{{IdMedia}}/{{FileNamePhoto}}{{/PhotoPartner}}" alt="{{TitlePartner}}"></a>
                {{/Partners}}
            </div>
            {{/HasPartners}}
        </div>

    </div>

    <div class="scroll-holder text-center">
        <a href="javascript:" id="scroll-to-top"><i class="las la-arrow-down"></i></a>
    </div>
</footer>
{{/Footer}}